.cmf-dnd-region {
	background-color: #ffff9c !important;
	display: table;
	
	.cmf-content {
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    font-size: 20px;
	    font-weight: bold;
	}
}
