.cmf-search-field {
	background: url(Images/searchfield/search-box.png) no-repeat;
	padding: 2px 0 0 25px;

	.x-panel-body-default {
		border: 0;
		background: none;
	}
	.x-form-text {
		border: 0;
		background: 0;
	}
	.cmf-reset-button {
		background: url(Images/searchfield/x.png) no-repeat;
		width: 16px;
		height: 16px;
		border: 0;
		margin: 2px 0 0 6px;
	}
	
	.x-form-trigger-wrap {
		border: none;
	}
	.x-trigger-cell {
		background: transparent;
	}
}